---
import BaseLayout from "../layouts/BaseLayout.astro";
import { useTranslations } from "../i18n/utils";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import { defaultLang } from "../i18n/ui";

const blogPosts = await getCollection("blog", (post) => {
  return post.data.draft !== true && post.id.includes("fr/");
});

const posts = blogPosts.map((post) => {
  const [postLang, ...slug] = post.id.split("/");
  return {
    params: { lang: postLang, slug: slug.join("/") || undefined },
    props: post,
  };
});

const pageTitle = "Blog";
const t = useTranslations(defaultLang);
const tags = [
  ...new Set(blogPosts.map((post) => post.data.tags).flat()),
].sort();
---

<BaseLayout pageTitle={pageTitle}>
  <section class="posts">
    <h1 class="posts__title">{t("blog.title")}</h1>
    <ul class="post__tags">
      {
        tags.map((tag) => (
          <li class="post__tags-item">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
    {
      posts.length > 0 ? (
        <ul class="posts__grid">
          {posts.map((post) => (
            <BlogPost url={`/posts/${post.params.slug}/`} post={post.props} />
          ))}
        </ul>
      ) : (
        <p>{t("blog.no-posts")}</p>
      )
    }
  </section>
</BaseLayout>

<style>
  .post__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.2em;
  }

  .post__tags-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-primary);
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-primary);
    padding: 0.2em 0.5em;
    border-radius: 4em;
    text-decoration: none;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--clr-primary);
      color: var(--clr-bg);
      border-color: var(--clr-bg);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
</style>
