---
import { FileText, Github, Linkedin } from "lucide-astro";
import blueSkyIcon from "../assets/Bluesky_Logo.svg";
const { about } = Astro.props;
---

<div class="about center">
  <div class="ml11">
    <h1 class="title about__name">
      Hi, I am {about.name}.
    </h1>

    <h2 class="about__role subtitle">
      A {about.role}.
    </h2>
  </div>
  <p class="about__desc">
    {about.description}
  </p>

  <div class="about__contact center">
    <a
      href={about.resumeLink}
      aria-label="resume"
      class="link link--icon"
      target="_blank"
    >
      <FileText />
    </a>

    <a
      href={about.github}
      aria-label="github"
      class="link link--icon"
      target="_blank"
    >
      <Github />
    </a>

    <a
      href={about.linkedin}
      aria-label="linkedin"
      class="link link--icon"
      target="_blank"
    >
      <Linkedin />
    </a>

    <a
      href={about.twitter}
      aria-label="twitter"
      class="link link--icon"
      target="_blank"
    >
      <p class="x-logo">&Xopf;</p>
    </a>
    <a
      href={about.bluesky}
      aria-label="bluesky"
      class="link link--icon"
      target="_blank"
    >
      <img src={blueSkyIcon.src} alt="bluesky logo" style="width: 1.5rem" />
    </a>
  </div>
</div>

<script>
  import anime from "animejs/lib/anime.es.js";

  const title: HTMLHeadingElement = document.querySelector(".ml11 .title");
  const subtitle: HTMLHeadingElement =
    document.querySelector(".ml11 .subtitle");

  formatTextToAnimate(title);
  formatTextToAnimate(subtitle);
  animateText();

  function formatTextToAnimate(text: HTMLHeadingElement) {
    return (text.innerHTML = text.textContent.replace(
      // eslint-disable-next-line no-control-regex
      /([^\x00-\x80]|\w|\W)/g,
      "<span class='letter'>$&</span>"
    ));
  }

  function animateText() {
    anime
      .timeline()
      .add({
        targets: ".ml11 .line",
        translateX: [
          0,
          document.querySelector(".ml11").getBoundingClientRect().width + 10,
        ],
        easing: "easeOutExpo",
        duration: 700,
        delay: 100,
      })
      .add({
        targets: ".ml11 .letter",
        opacity: [0, 1],
        easing: "easeOutExpo",
        duration: 600,
        offset: "-=775",
        delay(el, i) {
          return 34 * (i + 1);
        },
      })
      .add({
        targets: ".ml11",
        /* opacity: 0, */
        duration: 500,
        easing: "easeOutExpo",
      });
  }
</script>

<style>
  .about {
    flex-direction: column;
    margin-top: 3em;
  }

  .about__name > .letter:nth-child(1n + 11) {
    color: var(--clr-primary);
  }

  .about__role {
    margin-top: 1.2em;
  }

  .about__desc {
    font-size: 1rem;
    max-width: 600px;
  }

  .about__desc,
  .about__contact {
    margin-top: 2.4em;
  }

  .about .link--icon {
    margin-right: 0.8em;
  }

  .about .btn--outline {
    margin-right: 1em;
  }

  .x-logo {
    font-size: 1.5rem;
    margin-top: -0.375rem;
  }

  @media (max-width: 600px) {
    .app .about {
      align-items: flex-start;
      margin-top: 2em;
    }
    .about__contact {
      margin: 2.4em auto;
    }
  }
</style>
