---
import { getLangFromUrl, handleDate } from "../i18n/utils";
const { url, post } = Astro.props;
if (!post.props) {
  return;
}
const { title, description, pubDate, tags } = post.props.data;
const pageLang = getLangFromUrl(Astro.url);
const { remarkPluginFrontmatter } = await post.props.render();
---

<a class="post" href={url}>
  <div class="post--header">
    <p class="post--header__date">
      {handleDate(pubDate, pageLang)}
    </p>
    <p class="post--header__minutes-read">
      {remarkPluginFrontmatter.minutesRead}
    </p>
  </div>
  <h2 class="post__title">{title}</h2>
  <p class="post__description">{description}</p>
  <ul class="post__tags">
    {tags ? tags.map((tag) => <li class="post__tags-item">#{tag}</li>) : ""}
  </ul>
</a>

<style>
  .post {
    padding: 1em;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post--header {
    display: flex;
    justify-content: space-between;
  }
  .post--header__date,
  .post--header__minutes-read {
    font-size: 0.8rem;
  }
  .post__title {
    margin: 0.5em 0;
  }

  .post__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1.2em 0 0;
  }

  .post__tags-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-primary);
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-primary);
    padding: 0.2em 0.5em;
    border-radius: 4em;
    text-decoration: none;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--clr-primary);
      color: var(--clr-bg);
      border-color: var(--clr-bg);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    .post {
      padding: 1em 2em;
    }
  }
</style>
