---
import "../styles/reset.css";
import "../styles/main.css";
const { title, description } = Astro.props;

const image = `assets/hey.png`;
---

<!doctype html>
<head>
	<meta charset="UTF-8" />
	<meta name="description" property="og:description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<script defer data-domain="thomasevano.fr" src={import.meta.env.PLAUSIBLE_URL}
	></script>
	<title>{title}</title>

	<meta name="robots" content="/favicon/sitemap-index.xml" />
	<!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url.origin} />
	<meta property="og:image" content={image} />
	<!-- Basic Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={image} />

	<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
		rel="stylesheet"
	/>
</head>
