---
import { Github, ExternalLink } from "lucide-astro";
const { project } = Astro.props;
---

<div class="project">
  <img
    src={project.image}
    width="200px"
    height="100px"
    alt="project github open graph"
  />
  <h3 class="project__title">{project.repo}</h3>

  <p class="project__description">
    {project.description}
  </p>
  <ul class="project__stack">
    <li class="project__stack-item">
      {project.language}
    </li>
  </ul>

  <div class="project__links">
    <a
      href={project.link}
      aria-label="source code"
      class="link link--icon"
      target="_blank"
    >
      <Github />
    </a>

    {
      project.website && (
        <a
          href={project.website}
          aria-label="live preview"
          class="link link--icon"
          target="_blank"
        >
          <ExternalLink />
        </a>
      )
    }
  </div>
</div>

<style>
  .project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project:hover {
    transform: translateY(-7px);
  }
  .project__title {
    margin-top: 1em;
  }

  .project__description {
    margin-top: 1em;
  }

  .project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
  }

  .project__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }

  .project__links {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  .project .link--icon {
    margin-left: 0.5em;
  }
</style>
