---
import { useTranslations } from "../i18n/utils";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter, lang } = Astro.props;
const formattedDate = frontmatter.pubDate.toLocaleString(lang);
const t = useTranslations(lang);
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0, 15)}</p>
  <p>{t("blog.date")} {formattedDate}</p>
  <p><em>{frontmatter.description}</em></p>
  <ul>
    {
      frontmatter.tags.map((tag: string) => (
        <li style="margin: 0.25rem 0">
          <a class="link" href={`/tags/${tag}`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
  <slot />
</BaseLayout>
